<form action="/login" method="post">
    <input type="email" required name="email" placeholder="E-mail">
    <input type="password" required name="senha" placeholder="Senha">
    <button>Logar</button>
</form>